body{
    background-color: yellow;
}
h1{
    text-align: center;
    color: blue;
}

img{
    width: 40%;
    height: 100%;
}

div {
    animation: rotation 3s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
audio{
    size: 0cm;
}
